# Data Pre Processing + Encoding

In [331]:
import numpy as np
import pandas as pd 
from sklearn.preprocessing import OrdinalEncoder

In [332]:
df=pd.read_csv("adult.csv")
df

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [333]:
df.columns=['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country','income']

df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [334]:
pd.Series(df.workclass)[0]

' Self-emp-not-inc'

In [335]:
df[df.workclass == " ?"]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
26,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
60,32,?,293936,7th-8th,4,Married-spouse-absent,?,Not-in-family,White,Male,0,0,40,?,<=50K
68,25,?,200681,Some-college,10,Never-married,?,Own-child,White,Male,0,0,40,United-States,<=50K
76,67,?,212759,10th,6,Married-civ-spouse,?,Husband,White,Male,0,0,2,United-States,<=50K
105,17,?,304873,10th,6,Never-married,?,Own-child,White,Female,34095,0,32,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32529,35,?,320084,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,0,0,55,United-States,>50K
32530,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32538,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32540,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32541,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K

In [336]:
Allcols = ['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country','income']

df = df.replace(" ?", np.nan)

df[df.workclass == " ?"]

Empty DataFrame
Columns: [age, workclass, fnlwgt, education, education-num, marital-status, occupation, relationship, race, sex, capital-gain, capital-loss, hours-per-week, native-country, income]
Index: []

In [337]:
df.isna().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     583
income               0
dtype: int64

In [338]:
encoder = OrdinalEncoder(encoded_missing_value=np.nan)

In [339]:
columnsToEncode =['workclass', 'marital-status', 'occupation', 'relationship', 'race', 'sex','native-country','income']

for value in columnsToEncode:
    df[value] = encoder.fit_transform(df[[value]])

In [340]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,50,5.0,83311,Bachelors,13,2.0,3.0,0.0,4.0,1.0,0,0,13,38.0,0.0
1,38,3.0,215646,HS-grad,9,0.0,5.0,1.0,4.0,1.0,0,0,40,38.0,0.0
2,53,3.0,234721,11th,7,2.0,5.0,0.0,2.0,1.0,0,0,40,38.0,0.0
3,28,3.0,338409,Bachelors,13,2.0,9.0,5.0,2.0,0.0,0,0,40,4.0,0.0
4,37,3.0,284582,Masters,14,2.0,3.0,5.0,4.0,0.0,0,0,40,38.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,3.0,257302,Assoc-acdm,12,2.0,12.0,5.0,4.0,0.0,0,0,38,38.0,0.0
32556,40,3.0,154374,HS-grad,9,2.0,6.0,0.0,4.0,1.0,0,0,40,38.0,1.0
32557,58,3.0,151910,HS-grad,9,6.0,0.0,4.0,4.0,0.0,0,0,40,38.0,0.0
32558,22,3.0,201490,HS-grad,9,4.0,0.0,3.0,4.0,1.0,0,0,20,38.0,0.0
32559,52,4.0,287927,HS-grad,9,2.0,3.0,5.0,4.0,0.0,15024,0,40,38.0,1.0

In [341]:
df = df.drop("education", axis=1)

df

,age,workclass,fnlwgt,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,50,5.0,83311,13,2.0,3.0,0.0,4.0,1.0,0,0,13,38.0,0.0
1,38,3.0,215646,9,0.0,5.0,1.0,4.0,1.0,0,0,40,38.0,0.0
2,53,3.0,234721,7,2.0,5.0,0.0,2.0,1.0,0,0,40,38.0,0.0
3,28,3.0,338409,13,2.0,9.0,5.0,2.0,0.0,0,0,40,4.0,0.0
4,37,3.0,284582,14,2.0,3.0,5.0,4.0,0.0,0,0,40,38.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,3.0,257302,12,2.0,12.0,5.0,4.0,0.0,0,0,38,38.0,0.0
32556,40,3.0,154374,9,2.0,6.0,0.0,4.0,1.0,0,0,40,38.0,1.0
32557,58,3.0,151910,9,6.0,0.0,4.0,4.0,0.0,0,0,40,38.0,0.0
32558,22,3.0,201490,9,4.0,0.0,3.0,4.0,1.0,0,0,20,38.0,0.0
32559,52,4.0,287927,9,2.0,3.0,5.0,4.0,0.0,15024,0,40,38.0,1.0

In [342]:
df.isna().sum()

age                  0
workclass         1836
fnlwgt               0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     583
income               0
dtype: int64

In [343]:
containsMissingValues = ["workclass", "occupation", "native-country"]

for item in containsMissingValues:
    df[item].fillna(df[item].mode()[0], inplace=True)

df

/var/folders/b2/40yqyfyx70z2mghrhqz05jdw0000gp/T/ipykernel_2456/4147734393.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[item].fillna(df[item].mode()[0], inplace=True)

,age,workclass,fnlwgt,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,50,5.0,83311,13,2.0,3.0,0.0,4.0,1.0,0,0,13,38.0,0.0
1,38,3.0,215646,9,0.0,5.0,1.0,4.0,1.0,0,0,40,38.0,0.0
2,53,3.0,234721,7,2.0,5.0,0.0,2.0,1.0,0,0,40,38.0,0.0
3,28,3.0,338409,13,2.0,9.0,5.0,2.0,0.0,0,0,40,4.0,0.0
4,37,3.0,284582,14,2.0,3.0,5.0,4.0,0.0,0,0,40,38.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,3.0,257302,12,2.0,12.0,5.0,4.0,0.0,0,0,38,38.0,0.0
32556,40,3.0,154374,9,2.0,6.0,0.0,4.0,1.0,0,0,40,38.0,1.0
32557,58,3.0,151910,9,6.0,0.0,4.0,4.0,0.0,0,0,40,38.0,0.0
32558,22,3.0,201490,9,4.0,0.0,3.0,4.0,1.0,0,0,20,38.0,0.0
32559,52,4.0,287927,9,2.0,3.0,5.0,4.0,0.0,15024,0,40,38.0,1.0

In [344]:
df.isna().sum()

age               0
workclass         0
fnlwgt            0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

In [345]:
df = df.drop("fnlwgt", axis=1)

df

,age,workclass,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,50,5.0,13,2.0,3.0,0.0,4.0,1.0,0,0,13,38.0,0.0
1,38,3.0,9,0.0,5.0,1.0,4.0,1.0,0,0,40,38.0,0.0
2,53,3.0,7,2.0,5.0,0.0,2.0,1.0,0,0,40,38.0,0.0
3,28,3.0,13,2.0,9.0,5.0,2.0,0.0,0,0,40,4.0,0.0
4,37,3.0,14,2.0,3.0,5.0,4.0,0.0,0,0,40,38.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,3.0,12,2.0,12.0,5.0,4.0,0.0,0,0,38,38.0,0.0
32556,40,3.0,9,2.0,6.0,0.0,4.0,1.0,0,0,40,38.0,1.0
32557,58,3.0,9,6.0,0.0,4.0,4.0,0.0,0,0,40,38.0,0.0
32558,22,3.0,9,4.0,0.0,3.0,4.0,1.0,0,0,20,38.0,0.0
32559,52,4.0,9,2.0,3.0,5.0,4.0,0.0,15024,0,40,38.0,1.0

# Visual data processing

In [346]:
# g = ['age', 'workclass', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country','income']

# for i in g:
#     q1 = df[i].quantile(0.25)
#     q3 = df[i].quantile(0.75)
#     iqr = q3 - q1

#     lower = (q1 - 1.5*iqr)
#     upper = (q3 + 1.5*iqr)

#     column_outlier_mask = ((df[i] < lower) | (df[i] > upper))
#     outlier_mask = column_outlier_mask

# df_clean = df[outlier_mask]

In [347]:
import seaborn as sns
import matplotlib.pyplot as plt

# Training and Testing

In [348]:
from sklearn.preprocessing import MinMaxScaler

In [349]:
scaler = MinMaxScaler()

scalledArray = (scaler.fit_transform(df))

Scalled_df = pd.DataFrame(scalledArray,  columns=df.columns)
Scalled_df

,age,workclass,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,0.452055,0.714286,0.800000,0.333333,0.230769,0.0,1.0,1.0,0.000000,0.0,0.122449,0.95,0.0
1,0.287671,0.428571,0.533333,0.000000,0.384615,0.2,1.0,1.0,0.000000,0.0,0.397959,0.95,0.0
2,0.493151,0.428571,0.400000,0.333333,0.384615,0.0,0.5,1.0,0.000000,0.0,0.397959,0.95,0.0
3,0.150685,0.428571,0.800000,0.333333,0.692308,1.0,0.5,0.0,0.000000,0.0,0.397959,0.10,0.0
4,0.273973,0.428571,0.866667,0.333333,0.230769,1.0,1.0,0.0,0.000000,0.0,0.397959,0.95,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,0.136986,0.428571,0.733333,0.333333,0.923077,1.0,1.0,0.0,0.000000,0.0,0.377551,0.95,0.0
32556,0.315068,0.428571,0.533333,0.333333,0.461538,0.0,1.0,1.0,0.000000,0.0,0.397959,0.95,1.0
32557,0.561644,0.428571,0.533333,1.000000,0.000000,0.8,1.0,0.0,0.000000,0.0,0.397959,0.95,0.0
32558,0.068493,0.428571,0.533333,0.666667,0.000000,0.6,1.0,1.0,0.000000,0.0,0.193878,0.95,0.0
32559,0.479452,0.571429,0.533333,0.333333,0.230769,1.0,1.0,0.0,0.150242,0.0,0.397959,0.95,1.0

In [350]:
x = Scalled_df.drop("income", axis=1)
x

,age,workclass,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,0.452055,0.714286,0.800000,0.333333,0.230769,0.0,1.0,1.0,0.000000,0.0,0.122449,0.95
1,0.287671,0.428571,0.533333,0.000000,0.384615,0.2,1.0,1.0,0.000000,0.0,0.397959,0.95
2,0.493151,0.428571,0.400000,0.333333,0.384615,0.0,0.5,1.0,0.000000,0.0,0.397959,0.95
3,0.150685,0.428571,0.800000,0.333333,0.692308,1.0,0.5,0.0,0.000000,0.0,0.397959,0.10
4,0.273973,0.428571,0.866667,0.333333,0.230769,1.0,1.0,0.0,0.000000,0.0,0.397959,0.95
...,...,...,...,...,...,...,...,...,...,...,...,...
32555,0.136986,0.428571,0.733333,0.333333,0.923077,1.0,1.0,0.0,0.000000,0.0,0.377551,0.95
32556,0.315068,0.428571,0.533333,0.333333,0.461538,0.0,1.0,1.0,0.000000,0.0,0.397959,0.95
32557,0.561644,0.428571,0.533333,1.000000,0.000000,0.8,1.0,0.0,0.000000,0.0,0.397959,0.95
32558,0.068493,0.428571,0.533333,0.666667,0.000000,0.6,1.0,1.0,0.000000,0.0,0.193878,0.95
32559,0.479452,0.571429,0.533333,0.333333,0.230769,1.0,1.0,0.0,0.150242,0.0,0.397959,0.95

In [351]:
y = Scalled_df["income"]
y

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
32555    0.0
32556    1.0
32557    0.0
32558    0.0
32559    1.0
Name: income, Length: 32560, dtype: float64

In [352]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [353]:
x_train , x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42, stratify=Scalled_df["income"])

In [354]:
model = DecisionTreeClassifier(ccp_alpha=0.01, class_weight={0.0: 1, 1.0: 3})
model.fit(x_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.01, class_weight={0.0: 1, 1.0: 3})

In [355]:
y_pred = model.predict(x_test)

In [356]:
model.score(x_test, y_test)

0.7252764127764127

In [357]:
y_true = y_test

In [358]:
# from sklearn.svm import SVC

In [359]:
# model1 = SVC(kernel="poly", random_state=42)
# model1.fit(x_train, y_train)

In [360]:
# model1.score(x_test, y_test)

In [361]:
# import numpy as np
# from sklearn.metrics import (
#     confusion_matrix,
#     ConfusionMatrixDisplay,
#     f1_score,
#     accuracy_score,
#     precision_score,
#     recall_score
# )
# import matplotlib.pyplot as plt



# # Confusion matrix
# cm = confusion_matrix(y_true, y_pred)

# # --- Metrics ---
# accuracy = accuracy_score(y_true, y_pred)
# f1 = f1_score(y_true, y_pred, average='weighted')      # Options: 'macro', 'micro', 'weighted'
# precision = precision_score(y_true, y_pred, average='weighted')
# recall = recall_score(y_true, y_pred, average='weighted')

# # Print metrics
# print("📊 Metrics:")
# print(f"Accuracy : {accuracy:.2f}")
# print(f"F1 Score : {f1:.2f}")
# print(f"Precision: {precision:.2f}")
# print(f"Recall   : {recall:.2f}")

# # --- Option 1: Plot confusion matrix with sklearn ---
# disp = ConfusionMatrixDisplay(confusion_matrix=cm)
# disp.plot()
# plt.title("Confusion Matrix - Matplotlib")
# plt.show()

# # --- Option 2: Plot confusion matrix with seaborn ---
# plt.figure(figsize=(6, 4))
# sns.heatmap(cm, annot=True, fmt='d', cmap='Blues')
# plt.title("Confusion Matrix - Seaborn")
# plt.xlabel("Predicted Label")
# plt.ylabel("True Label")
# plt.show()

In [362]:
# cm = confusion_matrix(y_true, y_pred)

In [363]:
# pd.Series(df["income"]).value_counts()

# Nueral Networks

In [364]:
import tensorflow
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Conv2D, MaxPooling2D, Flatten, Dropout, InputLayer, BatchNormalization
from tensorflow.keras.optimizers import Adam

In [365]:
j = x_train.shape

In [366]:
x_train

,age,workclass,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
15737,0.205479,0.428571,0.800000,0.333333,0.230769,0.0,1.0,1.0,0.0,0.0,0.448980,0.950
3526,0.095890,0.428571,0.533333,0.333333,0.384615,0.0,1.0,1.0,0.0,0.0,0.397959,0.950
30412,0.383562,0.428571,0.600000,0.333333,1.000000,0.0,1.0,1.0,0.0,0.0,0.397959,0.950
16505,0.054795,0.428571,0.600000,0.666667,0.000000,0.6,1.0,0.0,0.0,0.0,0.153061,0.950
14061,0.109589,0.428571,0.600000,0.666667,0.000000,0.8,0.5,0.0,0.0,0.0,0.397959,0.950
...,...,...,...,...,...,...,...,...,...,...,...,...
2771,0.041096,0.428571,0.600000,0.666667,0.538462,0.6,1.0,1.0,0.0,0.0,0.346939,0.950
15873,0.205479,0.428571,0.600000,0.000000,0.230769,0.2,0.5,1.0,0.0,0.0,0.397959,0.950
16256,0.027397,0.428571,0.533333,0.666667,0.000000,0.2,1.0,0.0,0.0,0.0,0.418367,0.950
31864,0.136986,0.428571,0.066667,0.666667,0.153846,0.2,1.0,1.0,0.0,0.0,0.397959,0.625
9882,0.356164,0.142857,0.533333,0.500000,0.307692,0.8,0.5,1.0,0.0,0.0,0.397959,0.950

In [367]:
y_train

15737    1.0
3526     0.0
30412    0.0
16505    0.0
14061    0.0
        ...
2771     0.0
15873    0.0
16256    0.0
31864    0.0
9882     0.0
Name: income, Length: 26048, dtype: float64

In [368]:
Sequential

keras.src.models.sequential.Sequential

In [369]:
model2 = Sequential([
    Dense(256, activation="relu", input_shape=(12, )),
    BatchNormalization(),
    Dropout(0.35),
    Dense(128, activation='relu'),
    BatchNormalization(),
    Dropout(0.35),
    Dense(64, activation='relu'),
    BatchNormalization(),
    Dropout(0.25),
    Dense(32, activation='relu'),
    BatchNormalization(),
    Dense(1, activation="sigmoid")
])

/Users/sreyas.g/Desktop/ML Project/.venv/lib/python3.9/site-packages/keras/src/layers/core/dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [370]:
model2.compile(optimizer=Adam(learning_rate=0.0007),
              loss='binary_crossentropy',
              metrics=['accuracy'])

In [371]:
model2.fit(x_train, y_train, epochs=40, validation_split=0.2)

Epoch 1/40
652/652 ━━━━━━━━━━━━━━━━━━━━ 7s 4ms/step - accuracy: 0.7048 - loss: 0.5674 - val_accuracy: 0.8209 - val_loss: 0.3781
Epoch 2/40
652/652 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8192 - loss: 0.3925 - val_accuracy: 0.8288 - val_loss: 0.3583
Epoch 3/40
652/652 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.8222 - loss: 0.3733 - val_accuracy: 0.8349 - val_loss: 0.3494
Epoch 4/40
652/652 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8210 - loss: 0.3720 - val_accuracy: 0.8372 - val_loss: 0.3438
Epoch 5/40
652/652 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8356 - loss: 0.3513 - val_accuracy: 0.8248 - val_loss: 0.3528
Epoch 6/40
652/652 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8331 - loss: 0.3526 - val_accuracy: 0.8369 - val_loss: 0.3445
Epoch 7/40
652/652 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8297 - loss: 0.3550 - val_accuracy: 0.8382 - val_loss: 0.3467
Epoch 8/40
652/652 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8355 - loss: 0.3474 - val_accuracy: 0.8392 - val_loss: 0.3403
Epoch 9/40
652/652 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8364 - loss: 0.3444 - val_accuracy: 0.8361 - val_loss: 0.3449
Epoch 10/40
652/652 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8371 - loss: 0.3414 - val_accuracy: 0.8424 - val_loss: 0.3333
Epoch 11/40
652/652 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8399 - loss: 0.3374 - val_accuracy: 0.8393 - val_loss: 0.3387
Epoch 12/40
652/652 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8361 - loss: 0.3485 - val_accuracy: 0.8392 - val_loss: 0.3365
Epoch 13/40
652/652 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8427 - loss: 0.3426 - val_accuracy: 0.8432 - val_loss: 0.3334
Epoch 14/40
652/652 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8395 - loss: 0.3378 - val_accuracy: 0.8271 - val_loss: 0.3531
Epoch 15/40
652/652 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8367 - loss: 0.3440 - val_accuracy: 0.8340 - val_loss: 0.3440
Epoch 16/40
652/652 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8433 - loss: 0.3368 - val_accuracy: 0.8411 - val_loss: 0.3386
Epoch 17/40
652/652 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8433 - loss: 0.3351 - val_accuracy: 0.8405 - val_loss: 0.3377
Epoch 18/40
652/652 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8388 - loss: 0.3441 - val_accuracy: 0.8392 - val_loss: 0.3349
Epoch 19/40
652/652 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8410 - loss: 0.3376 - val_accuracy: 0.8422 - val_loss: 0.3332
Epoch 20/40
652/652 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8417 - loss: 0.3324 - val_accuracy: 0.8386 - val_loss: 0.3349
Epoch 21/40
652/652 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8410 - loss: 0.3376 - val_accuracy: 0.8372 - val_loss: 0.3374
Epoch 22/40
652/652 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8443 - loss: 0.3276 - val_accuracy: 0.8407 - val_loss: 0.3336
Epoch 23/40
652/652 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8385 - loss: 0.3361 - val_accuracy: 0.8434 - val_loss: 0.3376
Epoch 24/40
652/652 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8458 - loss: 0.3324 - val_accuracy: 0.8415 - val_loss: 0.3330
Epoch 25/40
652/652 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8463 - loss: 0.3275 - val_accuracy: 0.8378 - val_loss: 0.3344
Epoch 26/40
652/652 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8446 - loss: 0.3319 - val_accuracy: 0.8401 - val_loss: 0.3367
Epoch 27/40
652/652 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8457 - loss: 0.3308 - val_accuracy: 0.8453 - val_loss: 0.3332
Epoch 28/40
652/652 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8426 - loss: 0.3333 - val_accuracy: 0.8420 - val_loss: 0.3341
Epoch 29/40
652/652 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8432 - loss: 0.3306 - val_accuracy: 0.8434 - val_loss: 0.3316
Epoch 30/40
652/652 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8444 - loss: 0.3323 - val_accuracy: 0.8426 - val_loss: 0.3312
Epoch 31/40
652/652 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8425 - loss: 0.3265 - val_accuracy: 0.8417 - val_loss: 0.3328
Epoch 32/40
652/652 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8449 - loss: 0.3290 - val_accuracy: 0.8447 - val_loss: 0.3338
Epoch 33/40
652/652 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8439 - loss: 0.3329 - val_accuracy: 0.8440 - val_loss: 0.3317
Epoch 34/40
652/652 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8435 - loss: 0.3334 - val_accuracy: 0.8441 - val_loss: 0.3314
Epoch 35/40
652/652 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8474 - loss: 0.3250 - val_accuracy: 0.8447 - val_loss: 0.3314
Epoch 36/40
652/652 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8447 - loss: 0.3286 - val_accuracy: 0.8463 - val_loss: 0.3339
Epoch 37/40
652/652 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8462 - loss: 0.3310 - val_accuracy: 0.8413 - val_loss: 0.3335
Epoch 38/40
652/652 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8482 - loss: 0.3257 - val_accuracy: 0.8434 - val_loss: 0.3373
Epoch 39/40
652/652 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.8479 - loss: 0.3245 - val_accuracy: 0.8443 - val_loss: 0.3317
Epoch 40/40
652/652 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.8442 - loss: 0.3347 - val_accuracy: 0.8420 - val_loss: 0.3331

In [376]:

tensorflow.keras.models.save_model(model2, "model.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.